<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

    <link href="../bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul">
    <md-toolbar layout="row">
      <md-button
          hide-gt-sm
          class="menu"
          ng-click="ul.toggleList()">
          <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h3>Angular Material Design - Starter App</h3>
    </md-toolbar>


    <div flex layout="row">
      <md-sidenav
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-sm')"
          ng-click="ul.toggleList()"
          class="md-whiteframe-4dp" flex="30">

        <md-list>
          <md-list-item ng-repeat="u in ul.users">
            <md-button ng-click="ul.selectUser(u)" ng-class="{'selected' : u === ul.selected }">
              <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
              {{u.name}}
            </md-button>
          </md-list-item>
        </md-list>
      </md-sidenav>
      <md-content flex id="content">
        <!-- User details sample -->
        <md-icon md-svg-src="{{ul.selected.avatar}}" class="avatar"></md-icon>
        <h2>{{ul.selected.name}}</h2>
        <p>{{ul.selected.content}}</p>

        <md-button class="action" md-no-link ng-click="ul.makeContact(ul.selected)">
          <md-icon md-svg-icon="share" ></md-icon>
        </md-button>
      </md-content>
    </div>
  <script src="../bower_components/angular/angular.js" type="text/javascript" ></script>
  <script src="../bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
  <script src="../bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
  <script src="../bower_components/angular-material/angular-material.js" type="text/javascript" ></script>

  <script src="./src/users/Users.js"></script>
  <script src="./src/users/UserController.js"></script>
  <script src="./src/users/UserService.js"></script>

  <script type="text/javascript">
      angular
          .module('starterApp', [ 'ngMaterial', 'users' ])
          .run(function($log){
            $log.debug("startApp + ngMaterial running ");
          })
          .config(function($mdThemingProvider, $mdIconProvider ){

              // Register the user `avatar` icons
              $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu", "./assets/svg/menu.svg", 24)
                      .icon("share", "./assets/svg/share.svg", 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

            $mdThemingProvider.theme('default')
              .primaryPalette('brown')
              .accentPalette('red');
          });
    </script>



  </body>
</html>
